.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
#error {
  display: none;
  justify-content: center;
  color: red;
}
.wr_img img {
  width: 100%;
}
